<h1 class="page-header">MEnetrend &#8212; GTFS-alapú menetrend-nyilvántartó rendszer</h1>
<div class="col-md-offset-1 col-md-10 text-justify">

    <p>
        A helyi menetrendek adatai nyilvánosan elérhetők. Számos web- és mobilalkalmazást
        is szoktak biztosítani az egyes közlekedési vállalatok, viszont ezek használata gyakran
        nehézkes, vagy legalábbis nem illeszkedik a felhasználók tényleges elvárásaihoz. A
        dolgozatom célja egy olyan webalkalmazás készítése, melyben a menetrendadatok a
        nemzetközi szabvánnyá vált GTFS-formátumban vannak tárolva, illetve a felhaszná-
        lók számára a kívánt információk könnyebben, jobban átlátható formában elérhetővé
        válnak, amit útvonaltervező funkció is segít.
    </p>
    <p>
        A GTFS (General Transit Feed Specification) egy Google által kifejlesztett, nyilvá-
        nos és ingyenes formátum, melyben tetszőleges tömegközlekedési hálózat adatai eltárolhatók,
        földrajzi pozíciókkal együtt. Ez lehetőséget ad a járatok és a megállók térképes
        megjelenítésére, valamint a menetrendalapú útvonaltervezésre is. Számos közlekedési
        vállalat – többek közt az MVK Zrt. is – elérhetővé teszi GTFS-adatbázisukat programozók,
        fejlesztők részére, ezáltal lehetővé téve, hogy ezen adatokra építve szoftvereket
        fejlesszenek.
    </p>
    <p>
        Az alkalmazás kliensoldalon AngularJS-t, szerveroldalon pedig Python/Flask keretrendszert használ. Az
        adatbázist pedig a GTFS-formátum szerint van kialakítva,
        azzal a céllal, hogy bármelyik GTFS-t használó közlekedési vállalat menetrendi
        adataival kompatibilis legyen.
    </p>
    <p>
        A felhasználói felületének két fő része van, a menetrendadatok böngészése és az
        útvonaltervezés. Ezeket a navigációs sávon külön menüpontokból érhetjük el. A navigációs sávon a Viszonylatok
        menüpontra kattintva láthatjuk a különböző
        viszonylatokat, ahol többféle módon is kiválaszthatjuk azt, amelyiknek a menetrendjére
        kíváncsiak vagyunk. Található az oldal tetején egy gombsor a vonalszámokkal, alatta
        pedig egy részletes táblázat, csoportosítva a különböző típusú viszonylatokat (autóbusz
        vagy villamos).
    </p>
    <p>
        Az alkalmazás másik fő funkcióját is a navigációs sávról érhetjük el, ez nem más,
        mint az útvonaltervezés. Az oldal két részre van felosztva. Bal oldalt az útvonaltervezés beállításait adhatjuk
        meg. Az első sorban a kezdő- és a
        célmegállót állíthatjuk be két input mező segítségével, amit autocomplete támogatás is
        segít. Ez azt jelenti, hogy ha elkezdünk gépelni a beviteli mezőbe, akkor megjelenik egy
        legördülő listához hasonlító elem, amiből kiválaszthatjuk a megfelelő megálló nevét. Jobb oldalt, miután a
        Tervezés gombra kattintottunk, a kérés eredménye látható. Ha
        megfelelő adatokat adtunk meg, és létezik útvonal a két megálló közt, akkor megjelenik
        a javasolt útvonal.
    </p>
</div>