<div class="col-md-6">
    <h1 class="page-header">Útvonaltervezés</h1>
    <div class="alert alert-warning" ng-if="emptyFields"><strong>Kérjük, töltse ki az üresen maradt mezőket!</strong></div>
    <div class="row">
        <div class="col-md-6">
            <div class="input-group input-group-unstyled">
                <span class="input-group-addon"><i class="glyphicon glyphicon-play"></i></span>
                <input type="text" class="form-control" placeholder="Honnan" ng-model="from"
                       uib-typeahead="stop.stop_name for stop in stops | filter:$viewValue | limitTo:8" required/>
            </div>
        </div>

        <div class="col-md-6">
            <div class="input-group input-group-unstyled">
                <span class="input-group-addon"><i class="glyphicon glyphicon-stop"></i></span>
                <input type="text" class="form-control" placeholder="Hova" ng-model="to"
                       uib-typeahead="stop.stop_name for stop in stops | filter:$viewValue | limitTo:8" required/>
            </div>
        </div>
    </div>
    <div class="row row-margin-top">
        <button type="button" class="btn btn-default btn-block"
                ng-click="planTrip(from, to)">Tervezés
        </button>
    </div>
</div>
<div class="col-md-6" ng-show="wrongRequest != undefined">
    <h1 class="page-header">Javasolt útvonal</h1>
    <div class="alert alert-warning" ng-show="wrongRequest"><strong>Az Ön által megadott két megálló között nem sikerült útvonalat találni.</strong></div>
    <table class="table table-borderless" ng-show="!wrongRequest">
        <tr ng-repeat="stop in plannedTrip">
            <td class="col-md-1"><span ng-show="plannedTrip[$index].route != plannedTrip[$index - 1].route"
                       class="label label-info">{{ stop.route }}</span></td>
            <td>{{ stop.name }}</td>
        </tr>
    </table>
</div>